{% extends 'main/base.html' %}

{% block title %}
    Password Reset
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- for alert messages-->
    {% if messages %}
    <div class="container alert w-75">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    
    <div class="container" id="emailReset">
        <h2>Password Reset</h2>
        <p>Please enter the email associated with your account</p>
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-success">Password Reset</button>
        </form>
    </div>
{% endblock %}