{% extends "main/base.html" %}

{% block title %}
    Progile Page
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="container">
            Username: {{ userName }} <br>
            Email: {{ email }} <br>
            <a href="/change_password/">Change Password</a>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-success">Change</button>
    </form>
{% endblock %}