#main {
    height: 100%;
}

#logout {
    background: none!important;
    border: none;
    margin-top: 8px;
    margin-left: 5px;
    padding: 0!important;

    /*input has OS specific font-family*/
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
    cursor: pointer;
}

#logout:hover {
    color: rgba(255, 255, 255, 0.75);
}

#logoutDiv {
    text-align: right;
    padding-bottom: 8px;
}

#menu {
    margin-left: 35%;
}

.navbar {
    background-color: #1B262C;
}

footer {
    background-color: #1B262C;    
}

.nav-item {
    margin-left: 25px;
}

.nav-item:hover {
    background: #808080; 
}

.loginForm {
    padding-top: 70px;
    height: 80vh;
}

a {
    text-decoration: none;
}

.alert {
    background-color: #BBE1FA;
}