{% extends "main/base.html" %}

{% block title %} Login {% endblock %}

{% load crispy_forms_tags %}

{% block content %} 
    <!-- for alert messages-->
    {% if messages %}
    <div class="container alert w-75">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    
    <div class="container loginForm">
        <div class="container w-75 p-5">
            <h1 class="text-center pb-3">Login</h1>
            <form class="form-control form-control-sm" autocomplete="off" method="post">
                {% csrf_token %}
                {{ form | crispy}}
                <button type="submit" class="btn btn-secondary">Login</button>
            </form>
            <p class="p-3">No account yet? Create an account <a href="/register/">here</a></p>
        </div>
    </div>
{% endblock %}